#Data Files
*.h5

#VS Code files
.vscode/
*.code-workspace

#plots
figures/
plots/
*.png
*.svg
*.pdf
*.html

#Python
*.py[cod]
.ipynb_checkpoints/

#misc files
*.zip
*.tar
*.h5
*.hdf
backup/
data/
logs/
results/
testing/
